.btn {
  background-color: transparent;
  margin: white;
  border: none;
}

.btn-favorite {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  cursor: pointer;
  transition: filter 0.3s ease;

  &:hover {
    filter: drop-shadow(0 0 10px #222);
  }
}

.btn-details {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0.5rem auto 0;
  padding: 0.5rem;
  width: 50%;
  transition: background 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #222;
  }
}
