.card {
  border: thin solid #ffffff94;
  border-radius: 10px;
  box-shadow: 0 5px 10px #22222250;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 600px;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  width: 90%;

  & > * {
    z-index: 10;
  }

  &::before {
    content: "";
    background: linear-gradient(140deg, $white-high, $white-low);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  hr {
    width: 100%;
    margin: 0.25rem auto;
  }

  #{&}__header {
    position: relative;
  }

  #{&}__main {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #{&}__weather-desc {
    padding-top: 1rem;
    text-align: center;
  }

  #{&}__weather-desc img {
    animation: dance-icon 8s linear infinite;
    max-width: 150px;
    width: 30%;
  }

  #{&}__main-temp {
    font-size: 4rem;
    text-align: center;
  }

  #{&}__details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    transition: height 0.3s ease-in;

    p {
      font-size: calc(0.75rem + 1vw);
    }

    section {
      align-items: center;
      display: flex;
      text-align: left;
      border-bottom: thin solid $white-low;

      h3 {
        font-size: calc(1rem + 1vw);
        margin-top: 1rem;
        width: 50%;
      }

      p {
        text-align: left;
      }
    }
  }
}

@keyframes dance-icon {
  0%,
  100% {
    transform: translateX(-10%) translateY(2%);
  }

  50% {
    transform: translateX(10%) translateY(-2%);
  }
}

.hide-details {
  height: 0;
}

.show-details {
  height: calc(600px + 20vh);
  min-height: min-content;
}
