.card {
  border: thin solid #ffffff94;
  border-radius: 10px;
  box-shadow: 0 5px 10px #22222250;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 600px;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  width: 90%;

  & > * {
    z-index: 10;
  }

  &::before {
    content: "";
    background: linear-gradient(140deg, $white-high, $white-low);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  hr {
    width: 90%;
    margin: 0.25rem auto;
  }

  p {
    text-align: center;
  }

  #{&}__header {
    position: relative;
  }

  #{&}__main {
    display: flex;
    flex-direction: column;
    position: relative;

    h3 {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  #{&}__main-top {
    padding-top: 1rem;
    text-align: center;
  }

  #{&}__main-top img {
    position: absolute;
    top: -10%;
    right: 0%;
    width: 33%;
    animation: dance-icon 8s linear infinite;
  }

  #{&}__main-temp {
    font-size: 4rem;
    text-align: center;
  }

  #{&}__main-bot {
    display: flex;
    font-size: calc(0.5rem + 1vw);
    justify-content: space-between;
  }

  #{&}__details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    transition: height 0.3s ease-in;

    p {
      font-size: calc(0.75rem + 1vw);
    }

    section {
      h3 {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1rem;
      }

      ul {
        width: 80%;
        margin: 0 auto;
      }

      li {
        padding: 0.25rem;
      }
    }
  }
}

@keyframes dance-icon {
  0%,
  100% {
    transform: translateX(-10%) translateY(2%);
  }

  50% {
    transform: translateX(10%) translateY(-2%);
  }
}

.hide-details {
  height: 0;
}

.show-details {
  height: calc(350px + 10vh);
}
