.navbar {
  max-width: 500px;
  margin: 0 auto;

  h1 {
    color: white;
    text-align: center;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 1rem auto;

    li {
      padding-left: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }

    a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

.active-link {
  color: white;
}
