@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");

$primary: #085dc1;
$secondary: #ca0054;
$white-high: #ffffff90;
$white-low: #ffffff50;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background: linear-gradient(220deg, $primary, $secondary);
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Cabin", Arial, Helvetica, sans-serif;
}

h1 {
  margin: 2rem auto;
}

h2,
h3,
p {
  padding: 0.5rem;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}
